@using SpaceEcoFiles.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administrator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Administrator"]</h2>

@if (User.IsInRole("Administrator"))
{
    <a class="btn btn-default" asp-area="" asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a>
}
<a class="btn btn-default" asp-area="" asp-controller="DocTypes" asp-action="Index">@SharedLocalizer["DocTypes"]</a>
<a class="btn btn-default" asp-area="" asp-controller="DocFormats" asp-action="Index">@SharedLocalizer["DocFormats"]</a>
<a class="btn btn-default" asp-area="" asp-controller="Docs" asp-action="Index">@SharedLocalizer["Docs"]</a>